<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="javascript/secondLevelHome/homePage.js"></script>
</head>
<body>
  <div class="imageContainer bgBlack" id="home">
    <img src="images/home/home.png" width="100%" class="opacityImage">
    <div class="imageTextCentered title">
      <span>&#161;Tus objetivos, nuestra meta&#33;</span>
      <br/>
      <span>Asegura tu lugar</span>
      <br/><br/>
      <button class="butHome">UNAM</button>
      <button class="butHome">IPN</button>
      <button class="butHome">UAM</button>
      <br/>
      <button class=""><img src="images/cnf/downWhite.png" /></button>
    </div>
  </div>
  <div class="imContainer" id="offer">
    <img src="images/home/offer.png" width="100%" class="opacityImage">
    <br/>
    <div class="imText textCenter">
      <br/>
      <span class="title">Qu&eacute; ofrecemos</span>
      <br/><br/>
      <div class="row">
        <div class="column10">&nbsp;</div>
        <div class="column22 boxOffer move">
          <img src="images/home/group.png" width="100%"/>
          <span>
            Grupos reducidos para brindar una atención personalizada, con duración
            máxima de 3 horas.
          </span>
        </div>
        <div class="column7">&nbsp;</div>
        <div class="column22 boxOffer move">
          <img src="images/home/group.png" width="100%"/>
          <span>
            Profesores con más de 7 años de experiencia en cursos. Conocemos lo
            que más se le dificulta al alumno y las formas en que aprende, según sus
            habilidades.
          </span>
        </div>
        <div class="column7">&nbsp;</div>
        <div class="column22 boxOffer move">
          <img src="images/home/group.png" width="100%"/>
          <span>
            Método de enseñanza. Hacemos que el alumno entienda los temas y sepa
            interpretarlos en cualquier situación. No sólo hacemos que memoricen.
          </span>
        </div>
        <div class="column10">&nbsp;</div>
      </div>
      <br/><br/>
      <div class="row">
        <div class="column15">&nbsp;</div>
        <div class="column28 boxOffer move">
          <img src="images/home/group.png" width="100%"/>
          <span>
            Profesores con más de 7 años de experiencia en cursos. Conocemos lo
            que más se le dificulta al alumno y las formas en que aprende, según sus
            habilidades.
          </span>
        </div>
        <div class="column14">&nbsp;</div>
        <div class="column28 boxOffer move">
          <img src="images/home/group.png" width="100%"/>
          <span>
            Profesores con más de 7 años de experiencia en cursos. Conocemos lo
            que más se le dificulta al alumno y las formas en que aprende, según sus
            habilidades.
          </span>
        </div>
        <div class="column15">&nbsp;</div>
      </div>
    </div>
  </div>
</body>
</html>
