<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="javascript/secondLevelHome/homePage.js"></script>
</head>
<body>
  <div class="imageContainer bgBlack" id="home">
    <img src="images/home/home.png" width="100%" class="opacityImage">
    <div class="imageTextCentered title">
      <span>&#161;Tus objetivos, nuestra meta&#33;</span>
      <br/>
      <span>Asegura tu lugar</span>
      <br/><br/>
      <button class="butHome">UNAM</button>
      <button class="butHome">IPN</button>
      <button class="butHome">UAM</button>
      <br/>
      <button class=""><img src="images/cnf/downWhite.png" /></button>
    </div>
  </div>
</body>
</html>
