.greenAlert{
  background: #DFF0D8;
  color: #3C763D;
  border-radius: 4px;
  width: 90%;
  margin: 10px 5%;
  padding: 15px
}
.redAlert{
  background: #F2DEDE;
  color: #A94442;
  border-radius: 4px;
  width: 90%;
  margin: 10px 5%;
  padding: 15px;/*
  border: 1px solid #A94442;*/
}
