
.bgWhite{
  background: white;
}
.colorWhite{
  color: white;
}
.bgBlack{
  background: black;
}
.opacityImage{
  opacity: 0.5;
}
.boxOffer{
  padding: 15px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  background: white;
}
