.title{
  font-size: 35px;
}
.title2{
  font-size: 28px;
}
.textCenter{
  text-align: center;
}
.textPriceArticle{
  font-size: 25px;
}
.textArticleInformation{
  font-size: 15px;
  color: #ABABAB;
}
