<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="textCenter">
    <span class="title">Qui&eacute;nes somos</span>
  </div>
  <br/>
  <div class="imageContainer" style="background: black">
    <img src="images/cnf/fontUs.png" width="100%" style="opacity: 0.1"/>
    <div class="imageTextCentered title" align="justify">
      <img src="images/cnf/logoPuraVida.png" width="30%"/>
      <span>
        Es una empresa que se encarga de elaborar productos 100% vegetales...
      </span>
    </div>
  </div>
</body>
</html>
