<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="imageContainer" style="background: black">
    <img src="images/cnf/logoPuraVida.png" height="100%" style="opacity: 0.5"/>
    <div class="imageTextCentered title" style="font-size: 14px">
      <h1>Ejemplo sencillo de un registro de usuario...</h1><br/>
      <input type="text" placeholder="Ingrese nombre" class="inputStyle"/><br/><br/>
      <input type="text" placeholder="Ingrese correo" class="inputStyle"/><br/><br/>
      <input type="text" placeholder="Ingrese usuario" class="inputStyle"/><br/><br/>
      <input type="password" placeholder="Ingrese contrase&ntilde;a" class="inputStyle"/><br/><br/>
      <input type="password" placeholder="Confirme contrase&ntilde;a" class="inputStyle"/><br/><br/>
    </div>
  </div>
</body>
</html>
