<div class="modal fade" id="loginModal" role="dialog" data-backdrop="static" data-keyboard="false" width="100%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title color_error" id="titleModal">
        </h4>
      </div>
      <div class="modal-body" id="bodyModal">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModalBut">Cerrar</button>
      </div>
    </div>
  </div>
</div>
