/*Header config - color and no border; color border default is black*/
.headerMain{
  background: transparent;
  border-width: 0;
  position: fixed;
  z-index: 1;
  transition: top 0.3s;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.active_title{
  background: black;
  border-radius: 50px;
}
.navbar-brand{
  height: auto;
  padding: 10px !important;
}
.dropdown-toggle{
  color: white !important;
  text-align: center !important;
}
.dropdown-menu{
  background: transparent;
}
@media screen and (min-width: 800px) {
  #headers{
    height: 66px;
  }
}
